---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Landing from '../layouts/landing.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Matthieu Felker"
			alt="sd"
			description="Jeanine White: Developer, Speaker, and Writer..."
		/>
	</head>


	<body>
		<Landing />
	</body>

</html>
