.nav {
	display: flex;
	align-items: center;
	padding-top: 1rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	background-color: #2E3B55;
}

.logolink {


	transition-duration: 400ms;
	
	box-shadow: 0 0 5px 7px rgba(0, 0, 0, 0.174);

}
.logolink:hover{
	transform: scale(1.04);
	transition: ease-in-out;
	transition-duration: 150ms;
	
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.274);

}



.link {
	color: var(--t-subdue);
	display: block;
	margin-left: 1rem;
	text-decoration: none;
	font-size: var(--f-d1);
	text-transform: uppercase;
	padding-top: 0.75em;
	padding-bottom: 0.75em;

	&:focus,
	&:hover {
		color: var(--t-active);
	}
}

.monogram {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	color: var(--c-black);
	font-weight: 900;
	letter-spacing: -0.115rem;
	border: 2px solid rgba(184, 184, 184, 0.22);
border-radius: 4px;


}

.social {
	display: block;
	margin-left: auto;

	+ .social {
		margin-left: 0.75rem;
	}
}

.socialicon {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--t-subdue);
	transition: fill linear 150ms;

	&:hover {
		fill: var(--t-active);
	}
}
